@using UiIoT.Services
@inject Buffer<Point> buffer

@model UiIoT.Models.IoTContext
@{
    ViewData["Title"] = "sd";
    var labels = buffer.Select(x => x.Label);
    var data =   buffer.Select(x => x.Value);
    
}





<div id="ss" class="container flex-column ">
    <div class="row g-2 p-3">
       @foreach (var item in Model.robots)
        {
            <div class="col-sm rounded-3">
                <div class="card w-70">
                    <div class="card-body">
                        <h5 class="ugols">@item.name</h5>
                         <a class="text-black">Тип:@item.type </a>
                        <a href="/Iot/robot" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        }
        
        

        
    </div>
    <div>
        <div style="width: 400px; height: 400px">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <script id="data" type="application/json">
            @Json.Serialize(
                new
                {
                    labels,
                    limit = buffer.MaxCapacity.GetValueOrDefault(10),
                    url = "/iot"+"/robots",
                    datasets = new object[]
                    {
                        new
                        {
                            label = "SignalR Dataset",
                            data,
                            fill = false,
                            borderColor = "rgb(75, 192, 192)",
                            tension = 0.1
                        }
                    }
                })
        </script>
    </div>
    


</div>



