@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="overflow-auto">
                <ul class="list-group list-group-flush" style="border: 1px solid black">
                    @*
                     SignalR поток 
                    *@
                </ul>
            </div>
        </div>
        <div class="col-sm-2" style="padding-left:20px">
        <h2>Curent data</h2>
        <form>
            <div class="form-group">
                <div style="padding:4px">
                    <label for="exampleFormControlInput1">X</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">Y</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">Z</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">

                </div>
                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">T</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">G</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">V</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                </div>



                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">D</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">D1</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">TEXT</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                </div>

                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">L1</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">L2</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">L3</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">L4</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                </div>

            </div>
        </form>
        <button>Отправить</button>
    </div>
    </div>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        // получение сообщения от сервера
        hubConnection.on("Receive", function (user) {

            document.getElementById("response").innerText = "Имя: " + user.name + " Возраст: " + user.age;
        });

        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let name = document.getElementById("name").value;
            let age = document.getElementById("age").value;

            hubConnection.invoke("Send", { "name": name, "age": parseInt(age) });
            document.getElementById("name").value = "";
            document.getElementById("age").value = "";
        });

        hubConnection.start();
    </script>

</div>


