@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="overflow-auto">
                <ul class="list-group list-group-flush">
                    @*
                     захерачить псевдоданные во всью
                    *@
                </ul>
            </div>
        </div>
        <div class="col-sm-2" style="padding-left:20px">
        <h2>Curent data</h2>
        <form>
            <div class="form-group">
                <div style="padding:4px">
                    <label for="exampleFormControlInput1">X</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">Y</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">Z</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">

                </div>
                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">T</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">G</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">V</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                </div>



                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">D</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">D1</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">TEXT</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                </div>

                <div style="padding:4px">
                    <label for="exampleFormControlInput1" style="padding-top:5%">L1</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">L2</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                    <label for="exampleFormControlInput1">L3</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1">
                    <label for="exampleFormControlInput1">L4</label>
                    <input type="number" class="form-control col-1" id="exampleFormControlInput1" >
                </div>

            </div>
        </form>
        <button>Отправить</button>
    </div>
    </div>
    

</div>


